@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(0, 0, 0, 0.625);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: white;
  background: var(--dark-bg);
  /* background-color: white; */
  font-size: 3rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}


.navbar {
  position: relative;
  background-color: black;
}

.logo {
  margin-top: 5%;
  margin-left: 5%;
}

.proyectImg {
  height: 30%;
  width: 60%;
}

.logoXs {
  display: none;
}


@media screen and (max-width: 400px) {
  main {
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
  }

  section {
    width: 100%;
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  .left {
    width: 100%;
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    width: 100%;
    color: white;
    background: var(--dark-bg);
    font-size: 1.25rem;
    display: inline;
    line-height: 1;
    margin-right: 3%;

  }

  header {
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    grid-column: 2 / 8;
    padding: 1rem;
    margin-top: 15%;
    background: var(--dark-bg);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  .logo {
    display: none;
  }

  .logoXs {
    display: block;
  }

  .light {
    margin-bottom: 85%;
  }


}